
.cart {
  border: 0px solid tomato; 
  background-color: #ffe1a5;  
  min-width: 300px;
  position: sticky;  
  overflow: auto;
  overflow-x: hidden;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;  
}

.cart__container {
  border: 0px solid lightseagreen; 
  padding: 10px; 
  width: 300px;
  
}

.cart__title {
  padding: 20px;
  text-align: center;  
  color: #222;
  font-size: 50px;

}

.cart__list {
  list-style: none;
  padding: 0;
}

.cart__item {
  border: 0px solid black;
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.cart__remove {
  color: white;
  background-color: firebrick;
  cursor: pointer;  
  margin-left: 5px; 
}

.cart__total {
  border: 0px solid green;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.cart__finish {
  padding: 10px;
  width: 100%;
  font-size: 1.0em;
  cursor: pointer;
  background: firebrick;
  color: white;
  font-weight: bold;
}

.cart__clean {
  padding: 10px;
  width: 100%;
  font-size: 1.0em;
  cursor: pointer;
  color: #222;
  font-weight: bold;
}


.cart__image {
  opacity: .4;
}

@media screen and (max-width: 600px) {
  .cart {
    display: none;
  }

  .cartTop {
    display: block;
  }
}