@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);


* { 
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  border: 0px solid tomato;
  height: 100vh;  
}

body {
  border: 0px solid green; 
  font-family: 'Patrick Hand', sans-serif;     
}

.container {  
  display: flex;
  align-items: flex-start;
  justify-content: space-between;  
}

.content {
  border: 0px solid royalblue;
  width: 100%;
}